
{% extends 'base.html' %}
{% load static %}
{% block stylecss %}
<link rel="stylesheet" href="{% static 'index_style.css' %}">
{% endblock %}
{% block content %}
<div class="banner">
  <div class="banner_block_1">
    <div class="main_icon">
      <div>Army</div>
      |
      <div style="display:flex; align-items:flex-end;">
        <img src="https://cdn.pixabay.com/photo/2016/05/30/15/33/julia-roberts-1424985_960_720.png" width="25px"
>
        <div style="font-size:5px;">충성마트</div>
      </div>
    </div>
    <div class="my_address">
      <img src="https://cdn.pixabay.com/photo/2013/07/12/18/16/throwing-star-153172_1280.png" width="50px"
             style="border-radius:100%">
       <div>
         경기도 하남시 하남대로 947
      </div>
      <div>|</div>
      <div>스토어샵 #1호</div>
    </div>
  </div>
  <div class="banner_block_2">
    <div class="menu_coll">
      장바구니  <img src="">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search">
      <button class="btn btn-success" type="submit">Go</button>
    </div>
  </div>
</div>
<div class="main_menu">
  <div class="menu_title">
    무기 판매
  </div>
  <div class="main_menu_list">
    <div>원거리 무기</div>
    <div>근접전 무기</div>
    <div>기타 상품</div>
    <div>전체 상품</div>
    <div>공지사항</div>
  </div>
</div>
<div class="slider">
  <div class="slide"></div>
  <div class="slide"></div>
  <div class="slide"></div>
</div>
{% endblock %}
